In [1]:
%load_ext autoreload

In [8]:
%autoreload 2

In [11]:
from get_RPF.main import var

In [12]:
var

3

In [18]:
from Bio.SeqIO.QualityIO import FastqGeneralIterator
trim=10
handle = open("/home/jack/projects/riboseq_database/data/Park2017_Homo_sapiens_GSE97384_SRP103009/fastq/SRR5413155_trimmed.fastq", "w")
for title, seq, qual in FastqGeneralIterator(open("/home/jack/projects/riboseq_database/data/Park2017_Homo_sapiens_GSE97384_SRP103009/fastq/SRR5413155.fastq")) :
    handle.write(f"@{title}\n{seq[trim:]}\n+\n{qual[trim:]}\n")
handle.close()

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("~/projects/riboseq-orfs/gencode-riboseqORFs/phaseI/UCSC_format_annotation.csv")
df

,bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
0,NaN,A1BG_58858387_46aa,19,-,58346882,58347022,58346882,58347022,NaN,58346882,58347022,NaN,A1BG_58858387_46aa,none,none,NaN
1,NaN,A1BG_58858945_25aa,19,-,58347503,58347580,58347503,58347580,NaN,58347503,58347580,NaN,A1BG_58858945_25aa,none,none,NaN
2,NaN,A1BG:ENST00000598345.1.3797,19,-,58347503,58347580,58347503,58347580,NaN,58347503,58347580,NaN,A1BG:ENST00000598345.1.3797,none,none,NaN
3,NaN,A1BG:NM_130786:chr19:-:1314:1391,19,-,58347503,58347580,58347503,58347580,NaN,58347503,58347580,NaN,A1BG:NM_130786:chr19:-:1314:1391,none,none,NaN
4,NaN,A1BG:NM_130786:chr19:-:1549:1689,19,-,58346882,58347022,58346882,58347022,NaN,58346882,58347022,NaN,A1BG:NM_130786:chr19:-:1549:1689,none,none,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21613,NaN,ZWILCH:NM_017975:chr15:+:307:372,15,+,66508849,66508892,66508849,66508892,NaN,66508849,66508892,NaN,ZWILCH:NM_017975:chr15:+:307:372,none,none,NaN
21614,NaN,ZWILCH:NM_017975:chr15:+:307:372,15,+,66513988,66514009,66513988,66514009,NaN,66513988,66514009,NaN,ZWILCH:NM_017975:chr15:+:307:372,none,none,NaN
21615,NaN,ZZZ3:ENST00000469944.1.3144,1,-,77641283,77641402,77641283,77641402,NaN,77641283,77641402,NaN,ZZZ3:ENST00000469944.1.3144,none,none,NaN
21616,NaN,ZZZ3:NM_015534:chr1:-:402:461,1,-,77633369,77633405,77633369,77633405,NaN,77633369,77633405,NaN,ZZZ3:NM_015534:chr1:-:402:461,none,none,NaN
21617,NaN,ZZZ3:NM_015534:chr1:-:402:461,1,-,77639449,77639471,77639449,77639471,NaN,77639449,77639471,NaN,ZZZ3:NM_015534:chr1:-:402:461,none,none,NaN

In [8]:
columns = df.columns
new_df = pd.DataFrame(columns=columns)
new_df

Empty DataFrame
Columns: [bin, name, chrom, strand, txStart, txEnd, cdsStart, cdsEnd, exonCount, exonStarts, exonEnds, score, name2, cdsStartStat, cdsEndStat, exonFrames]
Index: []

In [11]:
for index, row in df.iterrows():
    row_values = [index, row['name'], 
    'chr'+str(row['chrom']), 
    row['strand'], 
    row['txStart'], 
    row['txEnd'], 
    row['cdsStart'], 
    row['cdsEnd'], 
    1, 
    str(row['exonStarts'])+',',
    str(row['exonEnds'])+',',
    0,
    row['name2'],
    row['cdsStartStat'],
    row['cdsEndStat'],
    row['exonFrames']
    ]
    new_df.loc[len(new_df)] = row_values

In [13]:
new_df.to_csv('~/riboseqORFs_track.csv')